html {
    overflow: hidden;
}

#mainZone {
    background-image:url(../img/background.jpg);
    background-repeat: no-repeat;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    width: 1200px;
    height: 700px;

}

#myCanvas {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 25px;
    left: 0;
    right: 0;
}

.box {
    display: none;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom:0;

    z-index:999;

    border:1px solid #E38E34;
    background-color: #FFE7BF;
    width: 800px;
    height:100px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#title {
    margin:5px;
    border-bottom:1px solid #E38E34;
    color:#C46908;
    font-weight:bold;
}
#message {
     margin:5px;
 }

#chrono {
    position: absolute;
    right: 20px;
}

#inventaire {
    position: absolute;
    left: 30px;
}

#torcheInventaire {
    position: absolute;
    top: 100px;
    display: none;
}

#boussoleInventaire {
    position: absolute;
    top: 350px;
    left: 50px;
    display: none;
}

#videoIntro {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}